# Editors
.vscode

# Package directories
lerna-debug.log
node_modules
jspm_packages

#Logs
yarn-error.log

# Builded
dist
tsconfig.tsbuildinfo

# Environment variables
.env

# Lock
yarn.lock
package-lock.json

# Logs
logs
*.log
npm-debug.log*
coverage

# token and cred Google
packages/calendar-service/src/constants/credentials.json
packages/calendar-service/src/constants/token.json

# Dependency directories
node_modules

# Optional npm cache directory
.npm

# sessions
sessions

# zsh Files
.zshrc

.DS_Store

# Packaged files
pkg

# Tarballs and Archives
.zip
.tar.gz
.gz
.tgz

packages/starter.rar
packages/messenger-service/ngrok.exe
packages/calendar-worker/src/constants/credentials.json
packages/calendar-worker/src/constants/token.json
